/*              
Breakpoints variable in MAP format and their MIXIN so
i don't have to include these numbers again and again
*/
/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap");
:root {
  --ff-pri: "Noto Sans", sans-serif;
  --ff-sec: "Roboto", sans-serif;
  --clr-pri: #f2f4f6;
  --clr-sec: #fffffe;
  --clr-ter: #ff5470;
  --clr-text: #1b2d45;
  --clr-text-2: #1b2d45;
  --clr-warn: #d0342c;
  --clr-success: #4bb543;
  --fs-xl: 2em;
  --fs-l: 1.8em;
  --fs-m: 1.5em;
  --fs-s: 1.2em;
  --fs-xs: 1em;
}

@media (max-width: 63.9375em) {
  :root {
    --fs-xl: 1.8em;
    --fs-l: 1.6em;
    --fs-m: 1.3em;
    --fs-s: 1.1em;
    --fs-xs: 1em;
  }
}

@media (max-width: 50em) {
  :root {
    --fs-xl: 1.7em;
    --fs-l: 1.5em;
    --fs-m: 1.2em;
    --fs-s: 1em;
    --fs-xs: 0.9em;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--ff-pri);
  overflow-x: hidden;
}

body.signup .welcomeAndFeature {
  display: none;
}

body.feature .form-con {
  display: none;
}

/* ****************** */
/* Flex Utility Class */
/* ****************** */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* Grid utility class */
.grid {
  display: -ms-grid;
  display: grid;
}

/* ******************** */
/* margin utility class */
/* ******************** */
.ml {
  margin-left: var(--ml, 2em);
}

.mr {
  margin-right: var(--mr, 2em);
}

.mt {
  margin-top: var(--mt, 2em);
}

.mb {
  margin-bottom: var(--mb, 2em);
}

/* ***************************** */
/* button and link global styles */
/* ***************************** */
a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

button, .button {
  outline: none;
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--fs-s);
  min-width: 8em;
}

@media (max-width: 50em) {
  button, .button {
    min-width: 6em;
  }
}

.hide {
  display: none;
}

.text-align {
  --text-a: center;
  text-align: var(--text-a, center);
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.highlight {
  color: var(--clr-ter);
}

.hero {
  background: var(--clr-pri);
  color: var(--clr-text-2);
  padding: 2em 4em;
  width: 50%;
  min-height: 100vh;
}

.hero .hero__heading {
  font-size: var(--fs-l);
}

.hero .hero__text-l {
  font-weight: 700;
  font-family: var(--ff-sec);
  font-size: var(--fs-s);
  --mt: 2em;
  margin-top: var(--mt);
  max-width: 35ch;
}

.hero .hero__image {
  --mt: auto;
  --mb: auto;
  margin-top: var(--mt);
  margin-bottom: var(--mb);
  max-width: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero .hero__text-m {
  --mt: auto;
  margin-top: var(--mt);
  font-weight: 700;
  font-family: var(--ff-sec);
  font-size: var(--fs-s);
  text-align: center;
}

@media (max-width: 63.9375em) {
  .hero {
    padding: 2em;
  }
  .hero .hero__text-l {
    --mt: 1em;
  }
  .hero .hero__image {
    max-width: 80%;
  }
}

@media (max-width: 50em) {
  .hero {
    width: 40%;
  }
  .hero .hero__image {
    max-width: 100%;
  }
}

@media (max-width: 31.25em) {
  .hero {
    display: none;
  }
}

.hero.signUp .hero__img-signIn, .hero.signUp .hero__img-feature {
  display: none;
}

.hero.signIn .hero__img-signUp, .hero.signIn .hero__img-feature {
  display: none;
}

.hero.feature .hero__img-signIn, .hero.feature .hero__img-signUp {
  display: none;
}

.form-con {
  padding: 3em 3em 3em 3em;
  width: 50%;
  min-height: 100vh;
  position: relative;
  background: var(--clr-sec);
}

.form-con__heading {
  font-size: var(--fs-xl);
}

.form-con__p {
  --mt: 0.5em;
  margin-top: var(--mt);
  font-size: var(--fs-s);
}

.form-con .form {
  --mt: 2em;
  width: 100%;
  margin-top: var(--mt);
}

.form-con .form__input {
  outline: none;
  border: 2px solid var(--clr-text-2);
  padding: 0.5em 1em;
  border-radius: 3px;
  font-size: var(--fs-s);
}

.form-con .form__input-wrapper {
  width: 60%;
  --mb: 2em;
  margin-bottom: var(--mb);
}

.form-con .form__input-wrapper label {
  --mb: 1em;
  margin-bottom: var(--mb);
}

.form-con .form__input-wrapper.checkbox {
  height: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.form-con .form__input-wrapper.checkbox input {
  width: 1.5em;
  height: 1.5em;
  margin-right: 1em;
}

.form-con .form__button-pri {
  background: var(--clr-ter);
  color: var(--clr-sec);
  border: 1px solid var(--clr-ter);
}

.form-con .form__button-sec {
  background: var(--clr-sec);
  color: var(--clr-ter);
  border: 1px solid var(--clr-ter);
  margin-right: 1em;
}

.form-con .button-wrapper {
  margin-top: 1em;
}

@media (max-width: 63.9375em) {
  .form-con .form__input-wrapper {
    width: 80%;
  }
}

@media (max-width: 50em) {
  .form-con {
    width: 60%;
    padding: 2em 1.5em;
  }
}

@media (max-width: 31.25em) {
  .form-con {
    width: 100%;
    margin-top: 4em;
    background: var(--clr-pri);
  }
  .form-con .form__input-wrapper {
    width: 100%;
  }
}

.form-con-signUp.name .form .form__wrapper-email,
.form-con-signUp.name .form .form__wrapper-password,
.form-con-signUp.name .form .form__wrapper-checkbox {
  display: none;
}

.form-con-signUp.name .form .btn-prev,
.form-con-signUp.name .form .btn-signin,
.form-con-signUp.name .form .btn-signup {
  display: none;
}

.form-con-signUp.password .form .form__wrapper-email,
.form-con-signUp.password .form .form__wrapper-name,
.form-con-signUp.password .form .form__wrapper-checkbox {
  display: none;
}

.form-con-signUp.password .form .btn-signin,
.form-con-signUp.password .form .btn-signup {
  display: none;
}

.form-con-signUp.checkbox .form .form__wrapper-email,
.form-con-signUp.checkbox .form .form__wrapper-password,
.form-con-signUp.checkbox .form .form__wrapper-name {
  display: none;
}

.form-con-signUp.checkbox .form .btn-next,
.form-con-signUp.checkbox .form .btn-signup {
  display: none;
}

.form-con-signUp.email .form .form__wrapper-name,
.form-con-signUp.email .form .form__wrapper-password,
.form-con-signUp.email .form .form__wrapper-checkbox {
  display: none;
}

.form-con-signUp.email .form .btn-signin,
.form-con-signUp.email .form .btn-signup {
  display: none;
}

.form-con-signUp.signup .form-con__p.signin {
  display: none;
}

.form-con-signUp.signup .form-con__heading.signin {
  display: none;
}

.form-con-signUp.signin .form .form__wrapper-name,
.form-con-signUp.signin .form .form__wrapper-checkbox,
.form-con-signUp.signin .form .form__wrapper-confirm-password {
  display: none;
}

.form-con-signUp.signin .form .btn-prev,
.form-con-signUp.signin .form .btn-signup,
.form-con-signUp.signin .form .btn-next {
  display: none;
}

.form-con-signUp.signin .form-con__progress {
  display: none;
}

.form-con-signUp.signin .form-con__p.signup {
  display: none;
}

.form-con-signUp.signin .form-con__heading.signup {
  display: none;
}

.form__input-wrapper.warn input {
  border-color: var(--clr-warn);
}

.form__input-wrapper.warn p {
  color: var(--clr-warn);
}

.form__input-wrapper.success input {
  border-color: var(--clr-success);
}

.form__input-wrapper.success p {
  color: var(--clr-success);
}

.welcomeAndFeature {
  width: 50%;
  min-height: 100vh;
  padding: 3em;
  color: var(--clr-text);
  position: relative;
}

.welcomeAndFeature h1 {
  font-size: var(--fs-l);
  font-weight: 700;
  font-family: var(--ff-sec);
  color: var(--clr-text-2);
}

.welcomeAndFeature h1 + p {
  font-size: var(--fs-m);
  font-family: var(--ff-sec);
  line-height: 2;
}

.welcomeAndFeature p.intro {
  --mt: 3em;
  margin-top: var(--mt);
  font-size: var(--fs-m);
  font-weight: 500;
  max-width: 30ch;
}

.welcomeAndFeature .featuresBox {
  width: 100%;
  background: var(--clr-pri);
  padding: 2em;
  margin: 2em 0;
  border-radius: 5px;
}

.welcomeAndFeature .featuresBox h2 {
  font-size: var(--fs-m);
}

.welcomeAndFeature .featuresBox .feature-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 2em 0;
  gap: 1em;
}

.welcomeAndFeature .featuresBox .feature-wrapper .featureBox {
  padding: 0.5em 1em;
  background: var(--clr-sec);
  border-radius: 3px;
}

.welcomeAndFeature img {
  position: absolute;
  right: -1em;
  top: -3em;
  width: 20em;
  z-index: -1;
}

@media (max-width: 63.9375em) {
  .welcomeAndFeature img {
    width: 15em;
    top: -1em;
    right: -2em;
  }
}

@media (max-width: 50em) {
  .welcomeAndFeature {
    width: 60%;
  }
  .welcomeAndFeature img {
    width: 12em;
    top: -1em;
    right: -1em;
  }
  .welcomeAndFeature .featuresBox .feature-wrapper .featureBox {
    padding: 0.5em 1em;
  }
}

@media (max-width: 31.25em) {
  .welcomeAndFeature {
    width: 100%;
    padding: 2em;
  }
  .welcomeAndFeature img {
    width: 12em;
    top: -1em;
    right: -1em;
  }
  .welcomeAndFeature p.intro {
    --mt: 4em;
  }
  .welcomeAndFeature .featuresBox .feature-wrapper .featureBox {
    padding: 0.5em 1em;
  }
  .welcomeAndFeature .featuresBox {
    padding: 1.5em;
    font-size: var(--fs-xs);
  }
}

.form-con__progress {
  width: 10em;
  height: 3em;
  background: var(--clr-pri);
  --mt: 2em;
  margin-top: var(--mt);
}

.circleBox {
  width: 15em;
  height: 3em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.circleBox .circle {
  width: 2em;
  height: 2em;
  background: var(--clr-sec);
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  z-index: 2;
}

.circleBox .line {
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: -webkit-gradient(linear, left top, right top, color-stop(33%, var(--clr-ter)), color-stop(33%, var(--clr-text)));
  background: linear-gradient(to right, var(--clr-ter) 33%, var(--clr-text) 33%);
  z-index: 1;
}

header {
  width: 100%;
  background: var(--clr-sec);
  padding: 1em 2em;
  background: var(--clr-sec);
  position: absolute;
  top: 0;
  left: 0;
}

header h1 {
  font-size: var(--fs-l);
}

.form-con .form__text-l {
  font-size: var(--fs-m);
  font-family: var(--ff-sec);
  font-weight: 700;
  --mt: 2em;
  margin-top: var(--mt);
  text-align: center;
  z-index: 3;
}

.form-con .form__text-m {
  font-size: var(--fs-s);
  font-family: var(--ff-sec);
  font-weight: 400;
  --mt: 4em;
  margin-top: var(--mt);
  text-align: right;
  z-index: 2;
}

.form-con .shape {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 20em;
  background: white;
  z-index: 1;
  -webkit-clip-path: polygon(0 79%, 100% 44%, 100% 100%, 0% 100%);
          clip-path: polygon(0 79%, 100% 44%, 100% 100%, 0% 100%);
}

@media (min-width: 31.3125em) {
  .form-con .form__text-l, .form-con .form__text-m, .form-con .shape {
    display: none;
  }
  .form-con + header {
    display: none;
  }
  .form-con__progress {
    background: var(--clr-sec);
  }
  .circleBox .circle {
    background: var(--clr-pri);
  }
}
/*# sourceMappingURL=style.css.map */